<html>
<head>
    
    <title>Inicio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        
    </style>
    <link rel="stylesheet" href="css/bootstrap-5.3.8-dist/css/bootstrap.css">
</head>
<body>
    <h1>Tabla boostrap</h1>
    <table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cedula</th>
      <th scope="col">Correo</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>123 Main St</td>
      <td>555-1234</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>456 Elm St</td>
      <td>555-5678</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
      <td>789 Oak St</td>
      <td>555-9012</td>
    </tr>
  </tbody>
</table>
</body>
</html>